{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author }}</h1>

  <p>
    {% if author.date_of_birth == None and author.date_of_death == None %}
      Years of the author's life are not known
    {% elif author.date_of_death == None %}
      {{ author.date_of_birth }} - Present
    {% else %}
      {{ author.date_of_birth }} - {{ author.date_of_death }}
    {% endif %} 
  </p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for book in author.book_set.all %} 
      <p><strong><a href="{% url 'book-detail' book.pk %}">{{ book }}</a></strong></p>
      <p>{{ book.summary }}</p>
    {% endfor %}
  </div>
{% endblock %}
